includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app

    # Laravel specific settings
    checkModelProperties: false
    
    # Ignore specific errors if needed
    ignoreErrors:
        # - '#PHPDoc tag @var#' 